In [1]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro,wilcoxon
from statsmodels.stats.power import ttest_power

In [2]:
Titan = pd.read_csv("F:/dinesh/Great Lakes/Machine learning/Python/Lab/2nd residency/External/Titan/Titan_scheme.csv")

In [3]:
Titan

    SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0             1                         57                         62
1             2                        103                        122
2             3                         59                         54
3             4                         75                         82
4             5                         84                         84
5             6                         73                         86
6             7                         35                         32
7             8                        110                        104
8             9                         44                         38
9            10                         82                        107
10           11                         67                         84
11           12                         64                         85
12           13                         78                         99
13           14                         53                         39
14           15                         41                         34
15           16                         39                         58
16           17                         80                         73
17           18                         87                         53
18           19                         73                         66
19           20                         65                         78
20           21                         28                         41
21           22                         62                         71
22           23                         49                         38
23           24                         84                         95
24           25                         63                         81
25           26                         77                         58
26           27                         67                         75
27           28                        101                         94
28           29                         91                        100
29           30                         50                         68

In [4]:
#Q1##Find the mean of old scheme and new scheme column.
print("Mean of Old scheme and new scheme")
Titan.loc[:,["Old Scheme (in thousands)","New Scheme (in thousands)"]].agg("mean")

Mean of Old scheme and new scheme

Old Scheme (in thousands)    68.033333
New Scheme (in thousands)    72.033333
dtype: float64

In [5]:
#Q2##Use the five percent significance test over the data to 
##determine the p value to check new scheme has significantly raised outputs?

In [6]:
print("Null Hypothesis, The 2 groups have same mean - o/p not raised significantly")
print("Alternate Hypothesis, The 2 groups have diff mean - - o/p raised significantly")

Null Hypothesis, The 2 groups have same mean - o/p not raised significantly
Alternate Hypothesis, The 2 groups have diff mean - - o/p raised significantly

In [7]:
print("Assumption made to identify parametric or non parametric")

Assumption made to identify parametric or non parametric

In [8]:
# For checking Normality distribution of each distribution
# Null Hypothesis: Distribution is Normal
shapiro(Titan["Old Scheme (in thousands)"])
shapiro(Titan["New Scheme (in thousands)"])
print("p value is >= 0.05, So Null Hypothesis is true for Shapiro Test")

(0.9885101914405823, 0.9813658595085144)

(0.9687567353248596, 0.5057420134544373)

p value is >= 0.05, So Null Hypothesis is true for Shapiro Test

In [9]:
# For checking equality of variance between groups
# Null Hypothesis: Variances are equal
levene(Titan["Old Scheme (in thousands)"],Titan["New Scheme (in thousands)"])
print("p value is >= 0.05, So Null Hypothesis is true for Levene test of variance")

LeveneResult(statistic=1.063061539437244, pvalue=0.30679836081811235)

p value is >= 0.05, So Null Hypothesis is true for Levene test of variance

In [10]:
##
print("As per assumption both shapiro and levene Null Hypothesis testing passed, It is comes under parametric")

As per assumption both shapiro and levene Null Hypothesis testing passed, It is comes under parametric

In [11]:
# paired t-test: doing two measurments on the same experimental unit
# e.g., before and after a treatment
t_statistic, p_value = ttest_1samp(Titan["New Scheme (in thousands)"] - Titan["Old Scheme (in thousands)"], 0)
print(t_statistic, p_value)
print("Q2.The p value is ",p_value)

1.5559143823544377 0.13057553961337662
Q2.The p value is  0.13057553961337662

In [12]:
#Q3##What conclusion does the test (p-value) lead to
print("Q3.The p value >= 0.5 , Which concludes our Null Hypothesis is true, both group means are same - o/p not raised significantly")

Q3.The p value >= 0.5 , Which concludes our Null Hypothesis is true, both group means are same - o/p not raised significantly

In [13]:
#Q4### 2 sample paired test
#t_statistic, p_value = ttest_1samp(Titan["New Scheme (in thousands)"] - Titan["Old Scheme (in thousands)"], 5)
#4.a
print("Q4.a The probability of a type 1 error is alpha which is 5%")

Q4.a The probability of a type 1 error is alpha which is 5%

In [14]:
#print(t_statistic, p_value)
#group1 = Titan["New Scheme (in thousands)"]
#group2 = Titan["Old Scheme (in thousands)"]
# Calculating Power of Test
# Compute the difference in Means between 2 sample means and divide by pooled Standard Deviation 
# number of Observations/tuples
# Set the alpha value to 0.05 and alternative values 'two-sided' , 'larger' , 'smaller'
#(np.mean(group2) - np.mean(group1)) / np.sqrt(((30-1)*np.var(group2)+(30-1)*np.var(group1)) / 30+30-2)
#(np.mean(group1) - np.mean(group2)) / np.sqrt(((30-1)*np.var(group1)+(30-1)*np.var(group2)) / 30+30-2)
#print(ttest_power(-0.129, nobs=30, alpha=0.05, alternative='two-sided'))

In [15]:
print("Assumption, the average output must increase by £5000 in the scheme compared to the old scheme, Adding 5k to old scheme ")
print("μd = μ2 – μ1 H0: μd ≤ 5000, HA: μd > 5000 ")

Titan_diff = Titan
Titan_diff["Expected_Scheme"] = Titan["Old Scheme (in thousands)"].apply(lambda col : col +5)

Assumption, the average output must increase by £5000 in the scheme compared to the old scheme, Adding 5k to old scheme
μd = μ2 – μ1 H0: μd ≤ 5000, HA: μd > 5000

In [16]:
##### 1 sample test
t_statistic, p_value = ttest_1samp(Titan["New Scheme (in thousands)"], Titan_diff["Expected_Scheme"].agg("mean"))

In [17]:
print(t_statistic, p_value)
#4.b
print("Q4.b p value" ,p_value)
print("Q4.b Since ttest_1samp is for two tailed, p_value/2 gives one tail" ,p_value/2)

-0.22762595274354191 0.8215342661375444
Q4.b p value 0.8215342661375444
Q4.b Since ttest_1samp is for two tailed, p_value/2 gives one tail 0.4107671330687722

In [18]:
# Calculating Power of Test
# Compute the difference in Means between Population and Sample and divide it by Standard Deviation
# Set the number of Observations
# Set the alpha value and alternative values 'two-sided' , 'larger' , 'smaller'
(np.mean(Titan["New Scheme (in thousands)"]) - Titan_diff["Expected_Scheme"].agg("mean")) / np.std(Titan["New Scheme (in thousands)"])

print("Q4.c Power of test",ttest_power(-0.042, nobs=30, alpha=0.05, alternative='two-sided'))

-0.042269078272585636

Q4.c Power of test 0.05569167838378689